openapi: 3.1.0
info:
  title: Zoho Desk API
  description: REST API for Zoho Desk, covering tickets, contacts, and agents.
  version: v1
servers:
  - url: https://desk.zoho.com/api/v1
    description: Production
security:
  - ZohoOAuth: []
paths:
  /tickets:
    get:
      summary: List tickets
      operationId: listTickets
      parameters:
        - name: from
          in: query
          schema:
            type: integer
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: OK
    post:
      summary: Create a ticket
      operationId: createTicket
      responses:
        '201':
          description: Created
  /tickets/{ticket_id}:
    parameters:
      - name: ticket_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a ticket
      operationId: getTicket
      responses:
        '200':
          description: OK
    put:
      summary: Update a ticket
      operationId: updateTicket
      responses:
        '200':
          description: OK
    delete:
      summary: Delete a ticket
      operationId: deleteTicket
      responses:
        '200':
          description: OK
  /contacts:
    get:
      summary: List contacts
      operationId: listContacts
      responses:
        '200':
          description: OK
    post:
      summary: Create a contact
      operationId: createContact
      responses:
        '201':
          description: Created
  /contacts/{contact_id}:
    parameters:
      - name: contact_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get a contact
      operationId: getContact
      responses:
        '200':
          description: OK
    put:
      summary: Update a contact
      operationId: updateContact
      responses:
        '200':
          description: OK
    delete:
      summary: Delete a contact
      operationId: deleteContact
      responses:
        '200':
          description: OK
  /agents:
    get:
      summary: List agents
      operationId: listAgents
      responses:
        '200':
          description: OK
    post:
      summary: Add an agent
      operationId: createAgent
      responses:
        '201':
          description: Created
  /agents/{agent_id}:
    parameters:
      - name: agent_id
        in: path
        required: true
        schema:
          type: string
    get:
      summary: Get an agent
      operationId: getAgent
      responses:
        '200':
          description: OK
    put:
      summary: Update an agent
      operationId: updateAgent
      responses:
        '200':
          description: OK
    delete:
      summary: Remove an agent
      operationId: deleteAgent
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    ZohoOAuth:
      type: apiKey
      in: header
      name: Authorization
      description: OAuth 2.0 access token sent as 'Authorization: Zoho-oauthtoken {access_token}'. Requests also require an orgId header.
